:root {
    /* colors */
    /* ---------------------- */
    --color-primary: #0C65A0;
    --color-secondary: #287db5;
    --color-accent: #f4b160;

    --color-fire: #C51000;
    --color-water: #128BDA;
    --color-metal: #BBBCBA;
    --color-earth: #FCE475;
    --color-wood: #017D1A;

    /* fonts */
    /* ---------------------- */
    --font-family-primary: "Exo 2", sans-serif;

}

/* ---------------------- */
/* RESET                  */
/* ---------------------- */

/* Box sizing */
/* ---------------------- */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height:100%;
}

/* Reset margins */
/* ---------------------- */
body,
h1, h2, h3, h4, h5, p,
figure, picture {
    margin: 0;
}

/* ---------------------- */
/* GENERAL SETTINGS       */
/* ---------------------- */

/* set up the body */
/* ---------------------- */
body {
    font-family: var(--font-family-primary);
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
    height:100%;
}

/* HEADER */
/* ---------------------- */
header {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1.2rem;
    background-color: var(--color-primary);
    color: white;
    padding: 5%;
}
.header-title {
    font-size: 1.3rem;
}
.header-title-small {
    font-size: 0.9rem;
}
.header-img {
    width:120px;
}

/* MAIN */
/* ---------------------- */
main {
    display:flex;
    flex-direction: column;
    min-height:100%;
}

/* MENU */
/* ---------------------- */
#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    margin-top: 10%;
    gap:1rem;
}

.menu-item {
    width: 80%;
    text-align: center;
    padding-block: 5%;
    font-weight: 400;
    color: white;
    background-color: var(--color-secondary);
    border:3px solid var(--color-primary);
    cursor: pointer;
}

#game {
    display: none;
}

/* MODAL */ 
/* ---------------------- */
 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    font-size:0.8rem;
  }
  .modal-content .close {
    font-size: 2rem;
    font-weight: 400;
  }
  .modal-content .close:hover {
    cursor: pointer;
  }

/* FOOTER */
/* ---------------------- */
.footer {
    margin-top:100px;
    position: relative;
    width: 100%;
    background: var(--color-primary);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("../../assets/images/wave.png");
    background-size: 1000px 100px;
  }
  
  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }
  
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }

  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
  }
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }


/* Fonts */ 
/* ---------------------- */
h1 {
    font-size: 1.5rem;
}
.h1-small {
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.bold {
    font-weight:700;
}


li {
    list-style: square;
}

/* BOARD */
/* ---------------------- */

/* PLAYER NAME */
.divPlayerName {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    padding: 5% 5% 0 5%;
    border-bottom: 1px solid black;
    margin-bottom: 5%;
}

.divActionButtons {
    display: flex;
    gap: 0.5rem;
}
.divActionButtons button {
    font-weight: 400;
    color: white;
    background-color: var(--color-secondary);
    border:3px solid var(--color-primary);
    border-radius: 10px;
    padding-block: 5%;
    font-weight: 700;
    cursor: pointer;
}

/* CURRENT CYCLE */
#divCurrentCycle {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding-inline: 5%;
}
#divCurrentCycle .element-img {
    width: 20%;
}
#divCurrentCycle .arrow {
    border: solid black;
    border-width: 0 5px 3px 0;
    display: inline-block;
    padding: 1%;
}
#divCurrentCycle .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.divActionButtons {
    padding: 5%;
}

/* ADDITIONAL INFORMATION */ 
.divAdditionalInformations {
    margin-block: 5%;
    padding: 5%;
    background-color: var(--color-accent);
    font-size: 1rem;
    font-weight: 600;
}

#board {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 5%;
}

/* CARDS */
.card {
    background-color: white;
    border: 10px solid rgba(0,0,0,0.2);
    border-radius: 8px;
    overflow-wrap: break-word;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.25);

    user-select: none;
}

.pointer { 
    cursor: pointer;
}

.card img {
    width: 125px;
}

.card p {
    font-size: 1rem;
}

#playersHand {
    margin-top: 5%;
    margin-bottom: 10%;
    display: flex;
    position: relative;
    gap: 0.5rem;
    width: 100%;
    cursor: pointer;
    
    overflow-x: scroll;
}