:root {
    /* colors */
    /* ---------------------- */
    --color-primary: #0C65A0;
    --color-secondary: #1c5981;
    --color-accent: #f4b160;
    --color-green: #28773A;

    /* fonts */
    /* ---------------------- */
    --font-family-primary: "Exo 2", sans-serif;
}

/* ---------------------- */
/* RESET                  */
/* ---------------------- */

/* Box sizing */
/* ---------------------- */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height:100%;
}

/* Reset margins */
/* ---------------------- */
body,
h1, h2, h3, h4, h5, p,
figure, picture {
    margin: 0;
}

/* ---------------------- */
/* GENERAL SETTINGS       */
/* ---------------------- */

/* set up the body */
/* ---------------------- */
body {
    font-family: var(--font-family-primary);
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* HEADER */
/* ---------------------- */
header {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1.2rem;
    background-color: var(--color-primary);
    color: white;
    padding: 5%;
}
.header-title {
    font-size: 1.3rem;
}
.header-title-small {
    font-size: 0.9rem;
}
.header-img {
    width:120px;
}

/* MAIN */
/* ---------------------- */
main {
    flex: 1 0 auto;
    margin-bottom: 3%;
}

/* MENU */
/* ---------------------- */
#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    margin-block: 10%;
    gap:1rem;
}
.menu-item {
    width: 80%;
    text-align: center;
    padding-block: 5%;
    font-weight: 400;
    color: white;
    background-color: var(--color-secondary);
    border:3px solid var(--color-primary);
    cursor: pointer;
}

/* MODAL */ 
/* ---------------------- */
 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    font-size:0.8rem;
  }
  .modal-content .close {
    font-size: 2rem;
    font-weight: 400;
  }
  .modal-content .close:hover {
    cursor: pointer;
  }

/* FOOTER */
/* ---------------------- */
.footer {
    margin-top:100px;
    position: relative;
    width: 100%;
    background: var(--color-primary);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 1;
  }

  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
  }

  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("../../assets/images/wave.png");
    background-size: 1000px 100px;
  }
  
  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }
  
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }

  
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      /* background-positon-x: 0px; */
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      /* background-positon-x: 0px; */
    }
  }


/* Fonts */ 
/* ---------------------- */
h1 {
    font-size: 1.5rem;
}
.h1-small {
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.bold {
    font-weight:700;
}


li {
    list-style: square;
}

/* BOARD */
/* ---------------------- */

#game {
  display: none;
}

/* BOARD INFORMATION */
/* ---------------------- */
.divPlayerName {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    padding: 0% 5% 0 5%;
    border-bottom: 1px solid black;
    margin-bottom: 2%;
}

.divActionButtons {
    display: flex;
    gap: 0.5rem;
}
.divActionButtons button {
    font-weight: 400;
    color: white;
    background-color: var(--color-secondary);
    border:3px solid var(--color-primary);
    border-radius: 10px;
    padding-block: 5%;
    font-weight: 700;
    cursor: pointer;
}

/* CURRENT CYCLE */
/* ---------------------- */
#divCurrentCycle {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    padding-inline: 5%;
}
#divCurrentCycle .element-img {
    width: 20%;
}
#divCurrentCycle .arrow {
    border: solid black;
    border-width: 0 5px 3px 0;
    display: inline-block;
    padding: 1%;
}
#divCurrentCycle .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.divActionButtons {
    padding: 1%;
}

/* ADDITIONAL INFORMATION */ 
/* ---------------------- */
#divAdditionalInformations {
    margin-block: 2%;
    padding-inline: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: var(--color-accent);
    transition: background-color 1s ease-in-out;
    font-weight: 600;
}

#divAdditionalInformations h2 {
  font-size: 1rem;
}

.notification {
  background-color: var(--color-green) !important;
  color: white !important;
}

#board {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

/* CARDS */
/* ---------------------- */
.card {
    width: 145px;
    background-color: white;
    border: 10px solid rgba(0,0,0,0.2);
    border-radius: 8px;
    overflow-wrap: break-word;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.25);

    user-select: none;
}

.pointer { 
    cursor: pointer;
}

.card img {
    width: 125px;
}

.card p {
    font-size: 1rem;
}

/* PLAYERS HAND */
/* ---------------------- */
.playersHandContainer {
  display: flex;
  justify-content: center;
}

#playersHand {
    margin-top: 3%;
    margin-bottom: 10%;
    display: flex;
    position: relative;
    gap: 0.5rem;
    width: 100%;
    cursor: pointer;
    
    overflow-x: scroll;
}

/* 404 - PAGE NOT FOUND */
/* ---------------------- */
.page-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: 50px;
}

.page-not-found a {
    font-weight: 400;
    color: white;
    background-color: var(--color-secondary);
    border:3px solid var(--color-primary);
    border-radius: 10px;
    padding: 20px;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    margin-top: 40px;
}

.page-not-found img {
  margin-top: 40px;
  width: 100%;
  max-width: 250px;
}



/* ---------------------- */
/* MEDIA QUERYS           */
/* ---------------------- */

/* Tablet                 */
/* ---------------------- */
@media (min-width: 610px) {

  /* HEADER */
  /* ---------------------- */
  header {
    gap:1.6rem;
    padding: 1%;
  }
  .header-title {
    font-size: 1.8rem;
  }
  .header-title-small {
    font-size: 1.2rem;
  }
  .header-img {
    width:180px;
  }

  /* CURRENT CYCLE */
  #divCurrentCycle .element-img {
    width: 8%;
  }

  .divPlayerName {
    font-size: 2rem;
  }

  #btnEnd, #btnRestart {
    font-size: 1rem;
  }

  #divAdditionalInformations h2{
    font-size: 1.5rem;
  }

  .menu-item {
    width: 60%;
    padding-block: 3%;
    font-size: 1.2rem;
  }

  .playersHandContainer {
    margin-inline: 15%;
  }
}


/* Desktop                */
/* ---------------------- */
@media (min-width: 1100px) {

  /* HEADER */
  /* ---------------------- */
  header {
    gap:1.6rem;
    padding: 0%;
  }

  #divAdditionalInformations {
    padding: 3%;
  }

  #divAdditionalInformations h2 {
    font-size: 2rem;
  }

  /* CARDS */
  .card {
    width: 205px;
    height: 300px;
  }

  .card img {
    width: 150px;
}

  .card p {
    font-size: 1.5rem;
  }
}